<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mirissabeachresort">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MirissaBeachResort">
        <activity

            android:name=".RoomBooking_Room_Dis4"
            android:exported="false" />
        <activity
            android:name=".RoomBooking_Room_Dis3"
            android:exported="false" />
        <activity
            android:name=".RoomBooking_Room_Dis2"
            android:exported="false" />
        <activity
            android:name=".RoomBooking_Room_Dis1"
            android:exported="false" />
        <activity
            android:name=".WhaleWatching_Details2"
            android:exported="false" />
        <activity          
            android:name=".EventBooking_Dining_Dis2"
            android:exported="false" />
        <activity
            android:name=".EventBooking_Dining_Dis1"
            android:exported="false" />
        <activity
            android:name=".EventBooking_Beach_Dis2"
            android:exported="false" />
        <activity
            android:name=".EventBooking_Beach_Dis1"
            android:exported="false" />
        <activity
            android:name=".EventBooking_GrandBallroom_Dis2"
            android:exported="false" />
        <activity
            android:name=".EventBooking_GrandBallroom_Dis1"
            android:exported="false" />
        <activity
            android:name=".EventBooking_GregoryBallroom_Dis2"
            android:exported="false" />
        <activity
            android:name=".EventBooking_GregoryBallroom_Dis1"
            android:exported="false" />
        <activity
            android:name=".WhaleWatching_Details"
            android:exported="false" />
        <activity
            android:name=".CartListActivity"
            android:exported="false" />
        <activity
            android:name=".ShowDetailActivity"
            android:exported="false" />
        <activity
            android:name=".FoodBuffet_Buffet_Dis2"
            android:exported="false" />
        <activity
            android:name=".FoodBuffet_Buffet_Dis1"
            android:exported="false" />
        <activity
            android:name=".WhaleForm"
            android:exported="false" />
        <activity
            android:name=".WhaleFishing"
            android:exported="false" />
        <activity
            android:name=".FoodBuffet"
            android:exported="false" />
        <activity
            android:name=".EventBooking"
            android:exported="false" />
        <activity
            android:name=".RoomBooking"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>